<web-app>
    <servlet>
        <servlet-name>him</servlet-name>
        <servlet-class>Clogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>him1</servlet-name>
        <servlet-class>Addcook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>him</servlet-name>
        <url-pattern>/clogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>him1</servlet-name>
        <url-pattern>/clogin1</url-pattern>
    </servlet-mapping>
</web-app>